@page "/member-points"

<PageTitle>Tích Điểm - Sayaka Membership</PageTitle>

@if (member != null)
{
    <div class="container-fluid m-0 p-0 member-poin">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center my-1">
                <div class="member-group d-flex align-items-center gap-2">
                    <div class="member-image">
                        <img src=@(member.memberAvatar ?? "./image/demoUser.png") class="member-avatar" alt="Ảnh đại diện" />
                    </div>
                    <div class="member-desc">
                        <p class="member-name">@member.memberName</p>
                    </div>
                </div>
                <div class="poin">
                    <div class="poin-in d-flex justify-content-center align-items-center gap-2">
                        <p class="count-title">Số dư:</p>
                        <p class="poin-count">@(transactions != null ? transactions.Sum(x => x.transactionValue).ToString("N0") : "0")đ</p>
                    </div>
                </div>
            </div>
            <div class="qr-poin-code d-flex flex-column align-items-center justify-content-center gap-1">
                <p class="qr-title">Đưa mã cho nhân viên để tích, sử dụng điểm.</p>
                <div class="qr-image">
                    <img src=@qrcode alt="Member QR" class="img-qr" />
                </div>
            </div>
        </div>
        <div class="container history-member">
            <p class="titleSections">Lịch sử giao dịch</p>
            <div class="scrollable-list mt-3">
                <ul class="history-list d-flex flex-column gap-3">
                    @if (transactions != null && transactions.Count > 0)
                    {
                        foreach (var transaction in transactions)
                        {
                            <li class="d-flex justify-content-between align-items-center shadow-sm py-2 px-1">
                                <div class=" d-flex align-items-center justify-content-start gap-1">
                                    <div class="his-image">
                                        <img src="./image/check-icon.jpg" class="icon-check" />
                                    </div>
                                    <div class="hist-content d-flex flex-column justify-content-start">
                                        <p class="poin-title">@transaction.transactionTitle</p>
                                        <p class="poin-date">@transaction.transactionDate.ToString("dd/MM/yyyy - HH:mm")</p>
                                        <p class="poin-desc">@transaction.transactionDescription</p>
                                        @if (transaction.orderValue > 0)
                                        {
                                            <p class="poin-desc">Giá trị hóa đơn: @transaction.orderValue vnđ</p>
                                        }
                                    </div>
                                </div>
                                <div class="his-status flex-column justify-content-start gap-1">
                                    <p class="@(transaction.transactionValue > 0 ? "text-success" : "text-danger") poin-count">@(transaction.transactionValue < 0 ? transaction.transactionValue.ToString("N0") : "+" + transaction.transactionValue.ToString("N0"))</p>
                                </div>
                            </li>
                        }
                    }
                    else
                    {
                       <li class="flex justify-content-center align-items-center">
                            <p class="null-history text-xl-center text-center font-bold">Bạn chưa có giao dịch nào.</p>
                       </li>
                    }
                </ul>
            </div>
        </div>
    </div>
}
