@page "/restaurants"

<PageTitle>Danh sách nhà hàng - Sayaka Buffet Nướng lẩu Nhật Bản</PageTitle>

@if (restaurants != null)
{
    <div class="d-flex align-items-center gap-2 px-2">
        <div class="flex-1">
            <h3 class="discountName my-1">Khu vực</h3>
            <InputSelect @bind-Value="selectedArea" class="form-select" aria-label="Default select example">
                <option value="">Tất cả</option>
                @foreach (var item in restaurants.DistinctBy(x => x.restaurantArea))
                {
                    <option value="@item.restaurantArea">@item.restaurantArea</option>
                }
            </InputSelect>
        </div>
        <div class="flex-2">
            <h3 class="discountName my-1">Tỉnh, Thành phố</h3>
            <InputSelect @bind-Value="selectedCity" class="form-select" aria-label="Default select example">
                <option value="" selected>Tất cả</option>
                @foreach(var item in restaurants.Where(x => x.restaurantArea.Contains(selectedArea)).DistinctBy(x => x.restaurantCity))
                {
                    <option value="@item.restaurantCity">@item.restaurantCity</option>
                }
            </InputSelect>
        </div>
        <div class="flex-1">
            <h3 class="discountName my-1">Vị trí</h3>
            <button @onclick="GetLocation" class="customBtnRes">
                <i class="bi bi-geo-fill"></i>
            </button>
        </div>
    </div>

    <div class="resItem">
        <div class="container">
            <div class="row flex-column gap-3 align-items-center justify-content-center">
                @foreach(var item in restaurants.Where(x => x.restaurantArea.Contains(selectedArea) && x.restaurantCity.Contains(selectedCity)))
                {
                    <div @onclick=@(() => navigation.NavigateTo($"/restaurants/{item.restaurantAliasName}")) class="boxMenu col-sm-6 d-flex flex-column justify-content-center">
                        <img src="@item.restaurantAvatarLink" alt="">
                        <h3 class="discountName my-1">@item.restaurantName</h3>
                        <h4 class="disountDay">@item.restaurantCity - @item.restaurantArea</h4>
                        <p class="discoutDesc">
                           @item.restaurantAddress
                        </p>
                    </div>
                }
            </div>
        </div>
    </div>
}
