@page "/restaurants"
@inject IRestaurantServerServices _restaurantService

<RadzenText TextStyle="TextStyle.DisplayH3" TextAlign="TextAlign.Center">Nhà hàng</RadzenText>
<RadzenButton Icon="plus" ButtonStyle="ButtonStyle.Success">Thêm Nhà Hàng</RadzenButton>

@if(restaurants != null)
{
    <RadzenTabs>
        <Tabs>
            @foreach(var group in restaurants.GroupBy(x => x.restaurantArea))
            {
                <RadzenTabsItem Text="@group.Key">
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="width: 10%">

                                </th>
                                <th style="width: 30%">
                                    Tên
                                </th>
                                <th style="width: 20%">
                                    Tỉnh
                                </th>
                                <th style="width: 30%">
                                    Số điện thoại
                                </th>
                                <th style="width: 10%"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach(var item in group)
                            {
                                <tr>
                                    <td>
                                        <RadzenImage Path="@item.restaurantAvatarLink" class="rz-gravatar" />
                                    </td>
                                    <td>
                                        @item.restaurantName
                                    </td>
                                    <td>
                                        @item.restaurantCity
                                    </td>
                                    <td>
                                        @item.restaurantPhone
                                    </td>
                                    <td>
                                        <RadzenButton>Edit</RadzenButton>                                        
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </RadzenTabsItem>
            }
        </Tabs>
    </RadzenTabs>
}

@code {
    List<RestaurantResponseModel> restaurants { get; set; }

    protected override async Task OnInitializedAsync()
    {
        restaurants = await _restaurantService.GetAllRestaurantsAsync(new RestaurantFilter { PageSize = 100 });
    }
}
